body{
    background-color: rgb(238, 231, 231);
    box-sizing: border-box;
    width: 100%;
}
img{
    margin: auto;
    width: 300px;;
    border-radius: 100% ;
    height: 200px;
    box-shadow: 2px 0px 2px 1px rgb(109, 51, 175);
}
img:hover {filter: grayscale(80%);}

.card{
    box-shadow: 3px 2px 3px 3px rgb(183,95,202);
    flex-direction: column;
    background-color: rgb(255,255,255);
    display: flex;
    margin: auto;
    flex-shrink: 0;
    width: 500px;
    height: 600px;
    border-radius: 8px;
}
.text{
    text-align: center;
    padding-bottom: 27%;
}
span{
    color: #6200ea;
}
 h1{
    text-align: center;
    color: rgb(183,95,202);
    font-size: 40px;
}
p{
    font-size: 23px;
    color:rgb(130,130,130);
}



button{
    background: rgb(183,95,202);
    color: wheat;
    font-size: 20px;
    height:80px;
    margin: 0;
    width:500px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 3px 2px 2px 1px  rgb(87, 6, 105);
}
button:hover{
    background-color: #6200ea;
    transform: scale(1.05);
}